:root {
  font-family: 'Genos', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Genos', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', serif;
  line-height: 1.1;
}

.input-field {
  font-family: 'Genos', sans-serif;
  width: 260px;
  height: 22px;
  border-radius: 50px;
  text-align: center;
  font-size: 1.1em;
  color: #4c4a4c;
  margin-top: .8rem;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}


